.footer {
    padding-top: 20px;
    background-color: #e6e2d3;
}

/* Information */
.footer-title {
    left: 10px;
}

.footer .footer-container {
    width: 1200px;
    padding-bottom: 30px;
}

.footer-container {
    margin: 0 auto;
    height: 100%;
    position: relative;
}

.info-container {
    display: flex;
    justify-content: space-between;
}

.info-container a {
    text-decoration: none;
    color: inherit;
}

.address, .contact, .social, .facebook {
    display: block;
    margin-top: 8px;
}

/* Copy Right */
.copyright {
    background-color: #c1946a;
    text-align: center;
}