.footer {
    position: fixed;
    width: 100%;
    clear: both;
    padding-top: 20px;
    bottom: 0;
}

/* Information */
.footer-title {
    left: 10px;
}

.footer .footer-container {
    /* width: 1200px; */
    padding-bottom: 30px;
}

.footer-container {
    margin: 0 auto;
    /* height: 100%; */
    position: relative;
}

.info-container {
    display: flex;
    justify-content: space-between;
}

.info-container a {
    text-decoration: none;
    color: inherit;
}

.address, .contact, .social, .facebook {
    display: block;
    margin-top: 8px;
}

/* Copy Right */
.copyright {
    background-color: #060b26;
    text-align: center;
    color: white;
    font-weight: 500;
}